body{
    background-color: azure;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    height: 250px;
    width: 250px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px gray;
    
}
header{

    padding: 20px;
    height: 300px;
}
#about{
    position: absolute;
    top: 60px;
    left: 350px;
}
.soc{
    border: 1px solid black;
    border-radius: 28px;
    background-color: mediumseagreen;
    margin-top: 0.2px;
    padding: 20px; 
    margin-bottom: 20px;
    width: 90%;
    margin-left: 30px;
    box-shadow: 5px 5px gray;
}
a{
 color: purple;
 font-size: 14px;   
}
a:hover{
    color: black;
    font-size: 16px;
}
.hobby{
    border: 1px solid black;
    border-radius: 28px;
    background-color: palevioletred;
    margin-top: 0.2px;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 30px;
    box-shadow: 5px 5px gray;
}
#hob{
    font-weight: 500;
}
.youtube{
    border: 1px solid black;
    border-radius: 28px;
    background-color: darkcyan;
    margin-top: 0.2px;
    padding: 20px; 
    margin-bottom: 40px;
    width: 90%;
    margin-left: 30px;
    box-shadow: 5px 5px gray;
}
.contact >h3{
    text-align: center;
    font-size: 28px;
}
.list{
    display: block;
    list-style-type: none;
    height: 200px;
}
.list>li{
    margin-top: 40px;
    margin-left: 10px;
    word-spacing: 1px;
}
.contact{
    border: 1px solid black;
    width: 60%;
    margin-left: 30px;
    margin-bottom: 40px;
    border-radius: 28px;
    box-shadow: 5px 5px gray;
    background-color: wheat;
}
.pointer{
    height: 30px;
    cursor: pointer;
    width: 90px;
    background-color: rgb(117, 214, 154);
    font-weight: 600;

}
.pointer:hover{
    height: 35px;
    cursor: pointer;
    width: 95px;
    background-color: rgb(64, 146, 95);
    font-weight: 600;
}
.name{
    margin-right: 10px;
}
.email{
    margin-right: 8px;
}
.holder1{
    background-color: rgb(207, 207, 207);
    border: 1px solid gray;
    border-radius: 25px;
}
.holder2{
    background-color: rgb(207, 207, 207);
    border: 1px solid gray;
    border-radius: 25px;
}
.holder1:hover{
    border: 3px solid steelblue;
}
.holder2:hover{
    border: 3px solid steelblue; 
}
